@import 'variables';

header {
  @include flexColCenter;
  margin-top: 118px;
  height: 400px;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/wall-4-light.png");
  color: #ffffff;
  font-size: 1.5em;
  letter-spacing: 3px;
  font-family: "Smokum", cursive, sans-serif;
  background-color: $secondary;
  padding-bottom: 15px;
}
header img {
  margin-top: 60px;
}

section > h2{
  font-family: "Smokum", cursive, sans-serif;
  letter-spacing: 2.5px;
}