@import 'variables';

nav {
  height: 120px;
  width: 100vw;
  background-color: $navBackgroundColour;
  color: $secondary;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
}

span,
button,
output {
  font-family: "Rye", cursive, sans-serif;
  letter-spacing: 2px;
  font-size: 1.1em;
}
span{
  font-size: 1.9em;
  letter-spacing: 3px;
}
button{
  cursor: pointer;
  background-color: transparent;
  color:  $btnFontColour;
}

.navBtn {
  @include flexColCenter;
  height: 10px;

  i {
    color: $btnHighlightColour;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin: 0;
  }
}

i {
  margin-top: 0px;
  height: 25px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}