header {
  margin-top: 118px;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/green-gobbler.png");
  color: #ffffff;
  font-size: 1.3em;
  font-family: "Smokum", cursive, sans-serif;
  background-color: #be5c3b;
  padding-bottom: 15px;
}
header img {
  margin-top: 60px;
}

section > h2{
  font-family: "Smokum", cursive, sans-serif;
  letter-spacing: 2.5px;
}